*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 
html, body{
    height: 100%;
    width: 100%
}

#main{
    position: relative;
    overflow: hidden;
    /* background-color: black; */
}

#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
}
#page>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

    height: 7vh;
    width: 50vw;
    background-color: black;
    color: white;
    position: absolute;

    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}
#page>nav>button{
    padding: 7px 20px;
    border-radius: 50px;
    border: none;
}
#page>nav>h3{
    font-weight: 500;
}
#page>video{
    height: 100%;
    width: 50%;
    object-fit: cover;
    
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
#page-bottom{
    height: 20%;
    width: 25%;
    /* background-color: black; */
    position: absolute;

    bottom : 5%;
    left: 50%;
    transform: translateX(-50%);
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page-bottom>h3{
    color:rgba(128, 128, 128, 0.575);
    margin-bottom: 1vw;
}
#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}
#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1>h1{
    font-size: 4vw;
    color:white;
    font-weight: 400;
    position:absolute;
    bottom: 20%;
    left:50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page2>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page2>h1{
    font-size: 4vw;
    color: white;
    font-weight: 400;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

#page3>img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#page3-upper{
    height: 25%;
    width: 35%;
    /* background-color: green; */
    position: absolute;
    top:5%;
    z-index: 9;
    left:50%;
    transform: translateX(-50%)
}

#page3-upper>img{
    position: absolute;
    top:10%;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

#page3-upper-inner{
    position: absolute;
    bottom: 0%;
    height: 50%;
    width: 100%;
    /* background-color: blue; */

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 20px;
    color: orange;
}

#page3-upper-inner>h3{
    font-weight: 500;
}

#page3>button{
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    border: 1px solid black;
    font-weight: 500;
    background-color: white;
    border-radius: 50px;
    font-size: 1.5vw;
}

#page4{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page4>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page4-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    color: white;
    font-size: 2vw;
}

#page5{
    display: flex;
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: white;
}

.left5{
    position: relative;
    height: 100%;
    width: 40%;
    /* background-color: blue; */
}
.left5>h1{
    font-size: 2.5vw;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top: 10%;

}
.right5{
    position: relative;
    height: 100%;
    width: 60%;
    /* background-color: red; */
    padding-left: 5vw;

    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.right5>h3{
    font-size: 1.5vw;
    width: 60%;
    color: rgb(92, 86, 86);
}
.right5>button{
    padding: 10px 20px;
    border: none;
    background-color: orange;
    color: white;
    font-weight: 400;
    border-radius: 50px;
    font-size: 1.5vw;
    margin-top: 2vw;
}

#page6{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    position: relative;
    height: 70vh;
    width: 100vw;
    background-color: #F5F5F7;
}
#page6>h3{
    margin-bottom: 1vw;
    font-size: 2vw;
}
#page6>h1{
    margin-bottom: 1vw;
    font-size: 4vw;
}
#page6>p{
    font-size: 1.4vw;
    width: 65%;
    font-weight: 700;
    color: #86868B;
}

#page7{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
}
#page7>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 1000;
}

#page8{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
}
#page8>h1{
    width: 20%;
    top:50%;
    transform: translateY(-50%);
    left:5%;

    font-size: 1.5vw;
    font-weight: 500;
    color: rgb(136, 127, 127);
    z-index: 99;
    position:absolute;
}
#page8>h1>span{
    color: black;
}
#page9{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
}
#page9>h1{
    width: 20%;
    top:50%;
    transform: translateY(-50%);
    right:5%;

    font-size: 1.5vw;
    font-weight: 500;
    color: rgb(136, 127, 127);
    z-index: 99;
    position:absolute;
}
#page9>h1>span{
    color: black;
}
#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
}
#page10>h1{
    width: 20%;
    top:50%;
    transform: translateY(-50%);
    left:5%;

    font-size: 1.5vw;
    font-weight: 500;
    color: rgb(136, 127, 127);
    z-index: 99;
    position:absolute;
}
#page10>h1>span{
    color: black;
}
#page11{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
}
#page11>h1{
    width: 20%;
    top:50%;
    transform: translateY(-50%);
    left:5%;

    font-size: 1.5vw;
    font-weight: 500;
    color: rgb(136, 127, 127);
    z-index: 99;
    position:absolute;
}
#page11>h1>span{
    color: black;
}
#page12{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
}
#page12>h1{
    width: 20%;
    top:50%;
    transform: translateY(-50%);
    right:5%;

    font-size: 1.5vw;
    font-weight: 500;
    color: rgb(136, 127, 127);
    z-index: 99;
    position:absolute;
}
#page12>h1>span{
    color: black;
}
#page13{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
}
#page13>h1{
    width: 20%;
    top:50%;
    transform: translateY(-50%);
    left:5%;

    font-size: 1.5vw;
    font-weight: 500;
    color: rgb(136, 127, 127);
    z-index: 99;
    position:absolute;
}
#page13>h1>span{
    color: black;
}

#page14{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position:relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}
.left14{
    height: 80%;
    width: 45%;
    position: relative;
    background-image: url(https://www.apple.com/v/apple-vision-pro/b/images/overview/design/glass_top__k3b8lzqd1l2m_medium.jpg);
    background-size: cover;
    /* background-color: blue; */
}
.right14{
    height: 80%;
    width: 45%;
    position: relative;
    /* background-color: green; */
    background-image: url(https://www.apple.com/v/apple-vision-pro/b/images/overview/design/glass_side__gm4agomrwl2e_medium.jpg);
    background-size: cover;
}

#page15{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
#center-page15{
    height: 90%;
    width: 95%;
    position: relative;
}
#center-page15>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page16{
    position: relative;
    height: 120vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page16>h2{
    top:5%;
    position: absolute;
    width: 50%;
    font-weight: 500;
    color: #86868B;
}
#page16>h2>span{
    color: black;
}
#page16>img{
    position: absolute;
    width: 60%;
    bottom: 0%;
}
#page16>button{
    position: absolute;
    bottom: 10%;
    padding: 10px 20px;
    font-size: 1.5vw;

    border-radius: 50px;
    background-color: #FF5A00;
    color: white;
    font-weight: 500;

    border: none;
}
#page17{
    position: relative;
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: white;
}
#page17>h4{
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 2vw;
}
#page17>h1{
    font-size: 5vw;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 3vw;
}
#page17>p{
    color: #86868B;
    width: 45%;
    margin-top: 1vw;
    font-weight: 600;
}
#page19>p>span{
    color: white;
}
#page18{
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 0%;
}
#page18>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}
#page19{
    position: relative;
    height: 30vh;
    width: 100vw;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2vw;

    
    background-color: black;
    flex-direction: column;
    text-align: center;
}
#page19>p{
    color: #86868B;
    width: 45%;
    margin-top: 1vw;
    font-weight: 600;
}
#page19>p>span{
    color: white;
}
#page20{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
}
#page20>video{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page20-center{
    /* background-color: green; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    position: absolute;
    right: 5%;
    bottom: 5%;
    width: 40%;
    height: 25%;
    color: white;
    
}
#page20-center>h1{
    margin-bottom: 1.5vw;
    line-height: 1;
    font-size: 2vw;
}
#page20-center>p{
    color: #86868B;
}
#page20-center>p>span{
    color: white;
}
#page21{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
}
#page21>#troff{
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 9;
}
#page21>#tron{
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#page22{
    position: relative;
    height: 30vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    text-align: center;
    font-size: 1.2vw;
}
#page22>h1{
    color: white;
    top: 0%;
}
#page22>p{
    margin-top:1vw;
    color:#86868B;
    width: 45%;
    font-weight: 600;
}
#page22>p>span{
    color: white;
}
#page23{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black; 
}
#page23>#snoff{
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 9;
}
#page23>#snon4{
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#page24{
    position: relative;
    height: 30vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    text-align: center;
    font-size: 1.2vw;
}
#page24>h1{
    color: white;
    top: 0%;
}
#page24>p{
    margin-top:1vw;
    color:#86868B;
    width: 45%;
    font-weight: 600;
}
#page24>p>span{
    color: white;
}
#page25{
    position: relative;
    height: 110vh;
    width: 100vw;
    background-color: black;
}
#page25>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}
#page26{
    position: relative;
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    text-align: center;
    font-size: 1.2vw;
}
#page26>h1{
    color: white;
    top: 1%;
}
#page26>p{
    margin-top:1vw;
    color:#86868B;
    width: 45%;
    font-weight: 600;
}
#page26>p>span{
    color: white;
}
#page26>button{
    position: absolute;
    bottom: 10%;
    padding: 10px 20px;
    font-size: 1.5vw;

    border-radius: 50px;
    background-color: white;
    color: black;
    font-weight: 500;

    border: none;

    bottom: 10%;
}